@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* ----- FONTS ----- */
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

h2, h4{
    font-family: "Abhaya Libre", sans-serif;
    letter-spacing: 1.5px;
    margin: 0;
}

h2{
    font-size: 1.75em;
}

h4{
    font-size: 1.45em;
}

p{
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

hr {
    border-top: solid 3px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    width: 80vw;
}

/* ----- COLOURS ----- */
.bg-colour-navbar,
.bg-colour-footer {
    background-color: #e5f3f1;
}

/* ----- NAVIGATION BAR ----- */
.container-fluid {
    padding: 0;
}

.navbar {
    padding: 0 1.5rem;
}

.navbar .navbar-toggler{
    border-color: transparent;
}

.dropdown-menu {
    background-color: #bfdfda98;
    text-align: center;
    font-size: 1rem;
    min-width: 7.5rem;
    border: 0;
}

.nav-link {
    padding: .25rem 1rem;
}

.font-navbar{
    text-align: center;
}

/* ----- FOOTER ----- */
.footer-container {
    padding: 0 1.5rem;
}

footer .footer-head {
    text-align: center;
    padding-right: 0.75rem;
    font-weight: 700;
    margin: 7.5px 0;
}

.footer-contact-head {
    text-align: right;
    padding-right: 0.75rem;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.footer-contact-info {
    text-align: left;
    padding-left: 0.35rem;
    letter-spacing: 1.5px;
    font-weight: 300;
}

footer a {
    color: rgba(0,0,0,.5);
    font-size: 245%;
}

footer a:hover {
    color: rgba(0,0,0,.9);
}

/* ----- HOME PAGE - HERO IMAGE ----- */
.hero-image {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    height: 75vh;
}

.display-3 {
    font-size: 3.5em;
}

.hero-image-text {
    background-color: rgba(242, 92, 119, 0.253);
    color: #e5f3f1;
    max-height: 100%;
    overflow: hidden;
}

.hero-image-text h2 {
    padding: 35vh 10vw 0;
}

.hero-image-text p {
    font-weight: 600;
    padding: 0 10vw 25px;
    font-size: 1.45em;
}

.hero-image-text hr {
    border-color: #e5f3f1;
    margin-left: 10vw;
    animation: hero-hr-in 3s ease-out;
}

.hero-image-text h2, .hero-image-text p {
    animation: hero-text-in 3s ease-out;
}

/* ----- HOME PAGE - ABOUT US ----- */
.about-us {
    font-size: 1.25rem;
    padding: 2.5rem 1.75rem 1.5rem;
}

.about-us hr {
    border-color: #2B4038;
}

.about-us-text {
    padding: 0.75rem 0;
    color: #2B4038;
}

/* Animation inspired by Code Institute Full Stack Development Course HTML/CSS Project - Love Running */
@keyframes hero-text-in {
    from {
        padding-left: 0;
    }
    to {
        padding-left: 10vw;
    }
}

@keyframes hero-hr-in {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 10vw;
    }
}
/* ----- MEDIA QUERIES ----- */

/* Desktop screens */
@media only screen and (max-width: 1200px) {
    html{
        font-size: 16px;
    }

    .about-us img {
        width: 205px;
    }
}

/* Table screens */
@media only screen and (max-width: 992px) {
       html{
        font-size: 14px;
    }

    .about-us img {
        width: 170px;
    }
}

/* Mobile and tables screens */
@media only screen and (max-width: 768px) {
        html{
        font-size: 12px;
    }

    .about-us img {
        width: 120px;
    }
}