@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* ----- FONTS ----- */
html {
    font-size: 18px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

h2, h4{
    font-family: "Abhaya Libre", sans-serif;
    letter-spacing: 1.5px;
    margin: 0;
}

h2{
    font-size: 1.75em;
}

h4{
    font-size: 1.45em;
}

p{
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

hr {
    border-top: solid 3px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    width: 80%;
}

.section-heading {
    font-size: 2.25rem;
}

.btn-grey-pink {
    background-color: rgba(0,0,0,.5);
    border: none;
    padding: 0.85em 1.5em;
    display: block;
    margin: 15px auto;
    color: #e5f3f1;
}

.btn-grey-pink:hover,
.btn-grey-pink:focus,
.btn-grey-pink:active {
    background-color: #D96A88;
    border-color: #D96A88;
    box-shadow: 0 0 0 0.2rem rgba(242, 92, 119, 0.253);
    color: #e5f3f1;
}
/* ----- COLOURS ----- */
.bg-colour-navbar,
.bg-colour-footer,
.bg-colour-plans,
.bg-colour-newsletter{
    background-color: #e5f3f1;
}
.bg-colour-contact-info, 
.bg-colour-our-classes {
    background-color: #D96A88;
}

/* ----- NAVIGATION BAR ----- */
.container-fluid {
    padding: 0;
}

.navbar {
    padding: 0 1.5rem;
}

.navbar .navbar-toggler{
    border-color: transparent;
}

.dropdown-menu {
    background-color: #bfdfda98;
    text-align: center;
    font-size: 1rem;
    min-width: 7.5rem;
    border: 0;
}

.nav-link {
    padding: .25rem 1rem;
}

.font-navbar{
    text-align: center;
}

/* ----- FOOTER ----- */
.footer-container {
    padding: 0 1.5rem;
}

footer .footer-head {
    text-align: center;
    padding-right: 0.75rem;
    font-weight: 700;
    margin: 7.5px 0;
}

.footer-contact-head {
    text-align: right;
    padding-right: 0.75rem;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.footer-contact-info {
    text-align: left;
    padding-left: 0.35rem;
    letter-spacing: 1.5px;
    font-weight: 300;
}

footer a {
    color: rgba(0,0,0,.5);
    font-size: 245%;
}

footer a:hover {
    color: #D96A88;
}

/* ----- HOME PAGE - HERO IMAGE ----- */
.hero-image {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    height: 75vh;
}

.display-3 {
    font-size: 3.5em;
}

.hero-image-text {
    background-color: rgba(242, 92, 119, 0.253);
    color: #e5f3f1;
    max-height: 100%;
    overflow: hidden;
}

.hero-image-text h2 {
    padding: 35vh 10vw 0;
}

.hero-image-text p {
    font-weight: 600;
    padding: 0 10vw 25px;
    font-size: 1.45em;
}

.hero-image-text hr {
    border-color: #e5f3f1;
    margin-left: 10vw;
    animation: hero-hr-in 3s ease-out;
}

.hero-image-text h2, .hero-image-text p {
    animation: hero-text-in 3s ease-out;
}

/* ----- HOME PAGE - ABOUT US ----- */
.about-us {
    font-size: 1.25rem;
    padding: 2.5rem 1.75rem 1.5rem;
}

.about-us hr {
    border-color: #2B4038;
}

.about-us-text {
    padding: 0.75rem 0;
    color: #2B4038;
}

.about-us img {
    width: 225px;
}

/* ----- HOME PAGE - OUR CLASSES ----- */
.our-classes {
    font-size: 1.05rem;
    padding: 2.5rem 1.75rem 1.5rem;
    color: #e5f3f1;
}

.our-classes-card{
    color: transparent;
    text-decoration: none;
    max-width: 12.5rem;
    min-height: 15.5rem;
    margin: 30px 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.our-classes-card:hover{
    color:inherit;
    text-decoration: inherit;
}

.our-classes-card button{
    color: inherit;
    border-color: inherit;
}

.our-classes-card > h4 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
}

.our-classes-card > p {
    padding: 1.5rem 0.75rem;
}

#salsa-card {
    background-image: url("../images/salsa-thumbnail.jpg");
}

#samba-card {
    background-image: url("../images/samba-thumbnail.jpg");
}

#zumba-card {
    background-image: url("../images/zumba-thumbnail.jpg");
}

#forro-card {
    background-image: url("../images/forro-thumbnail.jpg");
}

/* START OF HOVER.CSS EXTRACT -- https://ianlunn.github.io/Hover/ */
/* Updated code from source: changed background and colour, inlcluded border and boder-radius */
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(242, 92, 119, 0.253);
    border: solid #2B4038 3px;
    border-radius: 8px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: #e5f3f1;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
/* END OF HOVER.CSS EXTRACT */

/* ----- HOME PAGE - FIND YOUR PLAN ----- */
.find-plan {
    font-size: 1.10rem;
    padding: 2.5rem 1.75rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
}

.find-plan p{
    width: 80%;
    padding-bottom: 0.75rem;
    color: #2B4038;
}

.find-plan h2{
    width: auto;
    padding-bottom: 0.75rem;
    color: #2B4038;
}

.find-plan strong {
    display: inline-block;
    padding: 4px 4px;
    border-radius: 8px;
    font-size: 1.15em; 
}

.blink {
    animation: shake-price 0.3s infinite;
    animation-direction: alternate;
}

/* Justify only one flex item to the left solution taken from https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties */
.find-plan a{
    margin-left: auto;
    background-color: #D96A88;
    border-radius: 3px;
    color: #e5f3f1;
    font-weight: 600;
    padding: 6.5px 6.5px 8px;
    font-size: 1.25em;
}

.find-plan i{
    font-size: 1.75rem;
    vertical-align: -0.2em;
}

/* START OF HOVER.CSS EXTRACT -- https://ianlunn.github.io/Hover/ */
/* Updated code from source: inlcluded text-decoration none */
/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
  text-decoration: none;
}
/* END OF HOVER.CSS EXTRACT */

/* ----- HOME PAGE - GALLERY ----- */
.gallery {
    padding: 2.5rem 1.75rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery>h2 {
    width: 100%;
    padding-bottom: 1.8rem; 
    color: #D96A88;
}

.gallery-modal-button{
    background-color: rgba(0,0,0,0);
    border: none;
    flex: 20%;
}

.gallery-modal-button:hover,
.gallery-modal-button:focus,
.gallery-modal-button:active{
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
}

.gallery-modal-button>img {
    max-width: 100%;
    height: auto;
    border: solid 2px #e5f3f1;
    border-radius: 6px;
}

.gallery-modal-button>img:hover{
    opacity: 75%;
}

.modal-header {
    border: none;
}

.close {
    color: #e5f3f1;
    text-shadow: none;
    font-size: 2rem;
}

.close:hover {
    color: #D96A88;
}

.modal-content {
    background-color: rgba(0,0,0,0);
    border: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon, .carousel-caption {
    background-color: rgba(0,0,0,.5);
    border-radius: 6px;
}

/* ----- HOME PAGE - CONTACT ----- */
.contact-info {
    display: flex;
    flex-flow: row wrap;
    padding: 2.5rem 1.75rem 1.5rem;
    color: #e5f3f1;
    justify-content: center;
}

.contact-info h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 1.25rem;
}

.contact-info-map,
.contact-info-text {
    display: inline-block;
}
.contact-info-map {
    text-align: right;
    max-width: 20em;
    height: 20em;
    padding-right: 5px;
    padding-bottom: 10px;
    border-radius: 2.5px;
}

.contact-info-text {
    align-self: center;
    padding-left: 5px;
}

.contact-info-text address{
    font-style: italic;
    padding-top: 5px;
    padding-left: 5px;
}

/* ----- CONTACT PAGE - CONTACT US ----- */
.contact-us {
    font-size:1.25em;
    color: #D96A88;
    padding: 2.5rem 1.75rem 3rem;
}

.contact-us h2, 
.contact-us p {
    text-align: center;
}

.contact-us h4 {
    padding: 0.75rem 0.75rem 0;
}

.contact-us form{
    padding: 1.5em 0.75em 2em;
}

.newsletter {
    color: #212529;
    border-radius: 3.5px;
    font-size: 0.75em;
    height: 100%;
}

.contact-us button {
    background-color: rgba(0,0,0,.5);
    border: none;
    padding: 0.85em 1.5em;
    display: block;
    margin: 0 auto;
}

/* :not(.disable) copied from the Bootstrap css to overwrite specificity */
/* Use of :focus:active for click and hold mouse button from https://stackoverflow.com/questions/16715274/what-is-the-mouse-down-selector-in-css */
.contact-us form button:hover,
.contact-us form button:focus,
.contact-us form button:not(:disabled):not(.disabled):active,
.contact-us form button:focus:not(:disabled):not(.disabled):active {
    background-color: #D96A88;
    border-color: #D96A88;
    box-shadow: 0 0 0 0.2rem rgba(242, 92, 119, 0.253);
}

.contact-us form *:focus{
    border-color: #D96A88;
    box-shadow: 0 0 0 0.2rem rgba(242, 92, 119, 0.253);
}

/* ----- CONTACT PAGE - BUSINESS INFO ----- */
.business-info {
    padding: 2.5rem 1.75rem 1.5rem;
    color: #e5f3f1;
    font-size: 1.10rem;
}

.business-info h2{
    text-align: center;
    margin-bottom: 15px;
}

.business-info-map {
    max-width: 20em;
    height: 20em;
    margin-left: 10px;
    padding-bottom: 10px;
    border-radius: 2.5px;
}

.business-contact-head {
    text-align: right;
    padding-right: 0.75rem;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.business-contact-info {
    text-align: left;
    padding-left: 0.35rem;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.business-info-address {
    text-align: right;
    padding-top: 25px;
    padding-right: 10px;
    
}

/* ----- PLANS PAGE ----- */

/* Keeping teh footer at the bootom solution found in https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f */
/* Thanks to my mentor Ignatius Ukwuoma for this link */
.contact-body-container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: stretch;
}

.our-plans {
    flex-grow: 1;
    font-size: 1.50rem;
    padding: 2.5rem 1.75rem 1.5rem;
    text-align: center;
}

.our-plans h2{
    font-size: 3.5rem;
    padding-bottom: 20px;
    color: #2B4038;
}

.our-plans p.col-12{
    align-self: baseline;
    color: #2B4038;
}

.plans-casual,
.plans-dancer,
.plans-pro {
    border-radius: 20px;
    background-color: #D96A88;
    color: #e5f3f1;
    box-shadow: 0 0 0 0.2rem rgba(242, 92, 119, 0.253);
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 80px;
    padding: 20px 0;
    align-self: baseline;
}

.plans-casual {
    animation: show-item 2s ease-in;
}

.plans-dancer {
    animation: show-item 2s ease-in 1s;
    animation-fill-mode: backwards;
}

.plans-pro {
    animation: show-item 2s ease-in 1.5s;
    animation-fill-mode: backwards;
}

/* Specificity required to ovewrite no-gutters padding */
.our-plans > a.col-auto {
    padding: 0.85em 1.5em;
    align-self: baseline;
}

/* ----- CLASSES PAGE ----- */

/* Keeping teh footer at the bootom solution found in https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f */
/* Thanks to my mentor Ignatius Ukwuoma for this link */
.classes-body-container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: stretch;
}

.classes-info {
    flex-grow: 1;
    font-size: 1.25rem;
    padding: 1.5rem 1rem;
    color:  #D96A88;
}

.classes-info h2{
    font-size: 3.5rem;
    padding-bottom: 20px;
    text-align: center;
    align-self: center;
}

.classes-videos {
    height: 28vw;
    margin-top: 60px;
}

.classes-info > div.col-12{
    padding: 0 1.45rem;
}

.classes-info p{
    text-align: justify;
    margin-bottom: 1.2rem;
}

.classes-info li {
    list-style-type: none;
}

.classes-info li:first-of-type {
    margin-bottom: 1rem;
}

/* Specificity required to ovewrite no-gutters padding */
.classes-info a.col-auto {
    padding: 0.85em 1.2em;
    align-self: baseline;
}

/* ----- ANIMATIONS ----- */
/* Animation inspired by Code Institute Full Stack Development Course HTML/CSS Project - Love Running */
@keyframes hero-text-in {
    from {
        padding-left: 0;
    }
    to {
        padding-left: 10vw;
    }
}

@keyframes hero-hr-in {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 10vw;
    }
}

@keyframes shake-price {
    from {
        background-color: #D96A88;
        color: #e5f3f1;
    }
    to {
        background-color: transparent;
        color: #2B4038;
    }
}

@keyframes show-item {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

/* ----- MEDIA QUERIES ----- */
/* Desktop screens */
@media only screen and (max-width: 1200px) {
    html{
        font-size: 16px;
    }

    .about-us img {
        width: 205px;
    }

    .our-classes-card{
        color: inherit;
        text-decoration: none;
        border: solid #2B4038 3px;
        border-radius: 8px;
    }

    .our-classes-card button{
        border-color: #e5f3f1;
    }

    /* Bug noticed during test a "double-boder" apeared if there is hover functionality on screens below 1200px - code below to avoid */
    .hvr-sweep-to-bottom:before {
        border: none;
    }

    .gallery>button {
        flex: 30%;
    }
        
    .classes-videos {
        margin-top: 0;
        margin-bottom: 25px;
        height: 56vw;
    }
}

/* Tablet screens */
@media only screen and (max-width: 992px) {
    html{
        font-size: 14px;
    }

    .about-us img {
        width: 170px;
    }

    .gallery>button {
        flex: 45%;
    }
}

/* Mobile and tablet screens */
@media only screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }

    .about-us img {
        width: 120px;
    }

    /* Gallery responsiveness learned from W3Schools - https://www.w3schools.com/css/css3_flexbox_responsive.asp */
    .gallery>button {
        flex: 60%;
        max-width: 80%;
    }
}
/* Mobile screens */
@media only screen and (max-width: 576px) {
.business-info-address {
    text-align: center;
    }
}